log/
log1k2/
Release.win32/
seq/
test/
testimg/
tmp/
.ipynb_checkpoints/
__pycache__/
imgs1/
.vscode/
test.py
cord.py
debug.log
log2/
chkpt/
img/
project-tensorboard/
log3/
tsne/
creds.data
gsheets.py
imgs/
log2-1.zip
restore.py
reward.py