*log*
*test*
Release.win32/
seq/
test/
testimg/
tmp/
.ipynb_checkpoints/
__pycache__/
imgs1/
.vscode/
test.py
cord.py
debug.log
chkpt/
img/
project-tensorboard/
tsne/
creds.data
gsheets.py
imgs/
restore.py
reward.py
*.py~
